---
const { title } = Astro.props;
---
<button class="font-customFont font-bold text-very-light-gray px-7 py-3 rounded-3xl bg-gradient-to-r from-lime-green to-bright-cyan hover:opacity-60 transition-all ease-in-out">{title}</button>